<head>
    <title>โคจังเองค่า</title>
</head>
<body>
    <h1>Chat with Koachan</h1>
    <form>
        <fieldset id="chat">
            <legend>Chat</legend>
                <div class="Message">
                    <p> <b> Koachan </b> </p>
                    <p>Hello there</p>
                </div>
                <div class="Message">
                    <p> <b> Koachan </b> </p>
                    <p>ahhh</p>
                </div>
        </fieldset>
    </form>
    <textarea></textarea>
    <input type="button" value="Send!" onclick="onClick()">
</body>

<script>
    function onClick(){
        console.log("button pressed")
        createNewChat("Koachan", "コーちゃんは今日もかわいいわ");
    }

    function createNewChat(sender, text){
        const filedsetthing = document.getElementById("chat");
        const newDiv = document.createElement("div");
        newDiv.className = "Message";
        const name = document.createElement("p");
        const message = document.createElement("p");
        name.innerHTML = "<b>"+sender+"</b>";
        message.textContent = text;
        newDiv.appendChild(name)
        newDiv.appendChild(message)
        filedsetthing.appendChild(newDiv)
    }
</script>