<head>
    <title>โคจังเองค่า</title>
</head>
<body>
    <h1>Chat with Koachan</h1>
    <form>
        <fieldset>
            <legend>
                <div class="Message">
                    <p> <b> Koachan </b> </p>
                    <p>Hello there</p>
                </div>
                <div class="Message">
                    <p> <b> Koachan </b> </p>
                    <p>ahhh</p>
                </div>
            </legend>
        </fieldset>
    </form>
    <textarea></textarea>
    <input type="button" value="Send!">
</body>